.app-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.app-list__item {
  list-style: none;
}

.app-list__link {
  display: block;
  width: 60px;
  height: 60px;

  &--app {
    background-image: url("../../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--andr {
    background-image: url("../../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: 7px 7px;
  }

  &--win {
    background-image: url("../../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: 15px 12px;
  }
}

@media (min-width: $tablet-width) {
}
