.container {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: $tablet-width) {
  .container {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 960px;
  }
}
