.copyright {
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.copyright__text {
  margin-right: 20px;
}

.copyright__logo {
  fill: $color-pink;

  &:hover,
  &:focus {
    fill: $color-blue-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
