.features {
  text-align: center;
}

.features__wrapper {
  background: $color-gray;
}

.features__slogan {
  padding: 20px;
  margin-bottom: 45px;
}

.features__list {
  list-style: none;
  background: $color-gray;
  padding: 0 20px;
  position: relative;
  padding-top: 30px;
}

.features__item {
  text-align: center;
  padding-top: 20px;
}

.features__title {
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 10px;
}

.features__description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.features__image {
  width: 300px;
  height: 440px;
  &--fun {
    display: none;
    background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &--change {
    display: none;
    background-image: url("../../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  &--friends {
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    position: relative;
    margin-left: auto;
  }

  .features__item {
    text-align: left;
    width: 320px;
    margin-left: auto;
  }

  .features__description {
    padding-left: 0;
  }

  .features__image--friends {
    position: absolute;
    left: 20px;
    bottom: 0;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    width: 300px;
    height: 440px;
    background-position: 0 0;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    display: flex;
    width: 940px;
    margin: 0 auto;
  }

  .features__item {
    width: 360px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features__title {
    width: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }

  .features__description {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
  }

  .features__image {
    height: 300px;
    order: -1;
    position: inherit;
    &--fun {
      display: block;
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    }

    &--change {
      display: block;
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-position: 50% 0;
    }

    &--friends {
      display: block;
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
    }
  }
}
