.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__copyright {
  padding-top: 10px;
}

.footer__logo-img--mob {
  fill: #283645;

  &:hover,
  &:focus {
    fill: $color-pink;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

.footer__logo-img--des {
  display: none;
}

.footer--mobile {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .footer__logo-img--mob {
    display: none;
  }

  .footer__logo-img--des {
    display: block;
  }

  .footer--mobile {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    margin-top: 45px;
  }

  .footer__copyright {
    padding-top: 10px;
  }
}
