.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    display: none;
  }
}
