.form {
  width: 100%;
  font-size: 14px;
}

.form__item--gray {
  background: $color-gray;
}

.form__filedset {
  border: none;
}

.form__item {
  display: block;
  border: none;
}

.form__heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: $color-pink;
  text-align: center;
}

.form__label {
  display: block;
  text-transform: uppercase;
  color: $color-pink;
  margin-bottom: 15px;
  padding-left: 25px;
}

.form__input::placeholder {
  color: $color-blue-dark;
}

.form__input {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  border: 2px solid $color-gray-dark;
  padding: 18px;
  margin-bottom: 20px;
}

.form__legend {
  padding-top: 40px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-pink;
}

.form__input--text {
  background: transparent;

  &:hover,
  &:focus {
    border-color: $color-blue-dark;
    outline: none;
  }

  &:active {
    border-color: $color-pink;
  }
}

.form__required--desktop {
  display: none;
}

.form__required-star {
  color: $color-pink;
}

.form__required {
  text-align: center;
  text-transform: uppercase;
}

.form__button {
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  background: $color-green;
  color: #ffffff;
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;

  &:hover,
  &:focus {
    background: #1c9b5e;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.form__button:disabled {
  background: $color-gray-dark;
  color: #ffffff;
}

.form__textarea {
  resize: none;
  font-size: 18px;
  line-height: 1.7;
  color: $color-blue-dark;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  border: 2px solid $color-gray-dark;
  padding: 15px;
  min-height: 200px;
  margin-bottom: 45px;
  font-family: "Open Sans", sans-serif;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form__item--contacts {
  padding-top: 35px;
  padding-bottom: 20px;
}

.form__item--name {
  margin-bottom: 20px;
}

.form__item--app {
  margin-bottom: 50px;
}

.form__item--comment .form__legend {
  margin-bottom: 15px;
  padding: 0 50px;
}

.form__item--contacts .form__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__legend {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__wrapper {
    position: relative;
    width: 620px;
    margin: 0 auto;
  }

  .form__fieldset-wrapper {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }

  .form__item--name {
    order: -4;
    margin-bottom: 0;
  }

  .form__item--contacts {
    order: -1;
  }

  .form__item--contacts .form__legend {
    display: block;
  }

  .form__item--contacts .form__fieldset-item {
    padding-right: 61px;
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    &::after {
      content: "";
      z-index: 1;
      width: 62px;
      height: 64px;
      background: $color-gray-dark;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/icon-phone.svg");
      background-size: 15px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .form__item--contacts .form__fieldset-item:nth-child(2) {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .form__item--app {
    order: -2;
    margin-bottom: 35px;
  }

  .form__item--app .form__fieldset {
    padding: 0 55px;
  }

  .lead {
    padding: 90px 40px;
  }

  .form__label {
    display: inline-block;
  }

  .form__input {
    width: 100%;
  }

  .form__item {
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: white;
  }

  .form__fieldset {
    box-sizing: border-box;
    padding: 0;
    border: 2px solid $color-gray-dark;
    text-align: center;
  }

  .form__item--name .form__fieldset {
    border: none;
  }

  .form__item--name .form__label {
    padding-left: 0;
    margin-right: 20px;
  }

  .form__item--name .form__fieldset-item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .form__item--achivement {
    text-align: left;
    margin-bottom: 60px;
  }

  .form__button {
    max-width: 300px;
    margin-top: 60px;
  }

  .form__item--comment .form__legend {
    margin-bottom: 40px;
  }

  .form__required {
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .form__wrapper {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  .lead {
    padding-bottom: 50px;
  }

  .form__item--name {
    padding-top: 25px;
    order: -5;
    width: 46%;
  }

  .form__item--name .form__fieldset {
    border: none;
    padding-left: 10px;
  }

  .form__item--app {
    order: -2;
    width: 46%;
  }

  .form__legend {
    padding: 0 10px;
  }

  .form__item--achivement {
    width: 100%;
  }

  .form__fieldset-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .form__item--contacts .form__fieldset-item {
    width: 38%;
    // flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .form__item--contacts .form__legend {
    margin-bottom: 35px;
  }

  .form__item--contacts .form__fieldset-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }

  .form__item--contacts .form__input {
    margin-bottom: 15px;
  }

  .form__item--contacts {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 65px;
  }

  .form__item--comment {
    box-sizing: border-box;
    width: 100%;
  }

  .form__item--achivement .form__fieldset-wrapper {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
  }

  .form__item--achivement .form__fieldset {
    text-align: left;
  }

  .form__textarea {
    min-height: 120px;
  }
}
