.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  width: 100%;
  line-height: 1.3;
  color: $color-white;
  margin-bottom: 25px;
}

.hero__image {
  align-self: center;
  width: 260px;
  height: 290px;
  background-image: url("../../img/iphone-hand-mobile@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hero__app {
  box-sizing: border-box;
  width: 100%;
  background: $color-blue-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 20px;
}

.hero__app-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__app-list {
  margin-top: 0;
  padding: 60px;
  width: 205px;
}

.hero__download-button {
  display: block;
  border: 3px solid $color-white;
  border-radius: 50px;
  padding: 15px 35px;
  line-height: 1;
  color: $color-white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;

  &:hover {
    background: $color-white;
    color: $color-pink;
  }

  &:active {
    background: $color-white;
    color: rgba($color-pink, 0.3);
  }
}

.hero__text {
  font-size: 14px;
  font-weight: 300;
  color: $color-white;
  margin: 0;
  padding-bottom: 30px;
  line-height: 1.6;
}

.hero--photo {
  padding-top: 35px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero {
    margin-top: 60px;
    position: relative;
  }

  .hero__app {
    align-items: flex-start;
    background: transparent;
    z-index: 5;
  }

  .hero__app-inner,
  .hero__header-inner {
    width: 300px;
  }

  .hero__download-button {
    margin: 0;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .hero__image {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 660px;
    height: 550px;
    background-size: cover;
    background-image: url("../../img/iphone-hand-tablet@1x.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .hero__header-text {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
  }

  .hero__text {
    display: block;
    width: 300px;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 110px;
  }

  .hero--photo {
    font-size: 20px;
    padding-bottom: 120px;
    padding-top: 35px;
  }

  .hero__header-inner--photo {
    width: auto;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding: 0;
  }

  .hero__header {
    text-align: left;
    padding-top: 50px;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 100px;
  }

  .hero__image {
    position: absolute;
    left: 35%;
    width: 750px;
    height: 650px;
    background-image: url("../../img/iphone-hand-desktop@1x.png");
    background-position: bottom right;
  }

  .hero__app {
    background: transparent;
    padding-right: 0;
    padding-left: 0;
  }

  .hero__app-list {
    margin-bottom: 55px;
  }

  .hero__download-button {
    margin-top: 0;
    margin-bottom: 65px;
  }
}
