.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  width: 100%;
  line-height: 1.3;
  color: $color-white;
  font-weight: 300;
  font-size: 24px;
}

.hero__header-text {
  font-weight: 300;
  font-size: 24px;
}

.hero__image {
  // align-self: flex-start;
  width: 260px;
  height: 290px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: bottom left;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: cover;
  }
}

.hero__app {
  box-sizing: border-box;
  width: 100%;
  background: $color-blue-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-editor__buttonbar {
  display: flex;
}

.hero__download-button {
  box-sizing: border-box;
  display: block;
  border: 3px solid $color-white;
  border-radius: 50px;
  padding: 15px 35px;
  line-height: 1;
  color: $color-white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 25px;

  &:hover {
    background: $color-white;
    color: $color-pink;
  }

  &:active {
    background: $color-white;
    color: rgba($color-pink, 0.3);
  }
}

.hero__app-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__app-list {
  margin-top: 0;
  padding: 60px;
  width: 205px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 14px;
  font-weight: 300;
  color: $color-white;
  margin: 0;
  padding-bottom: 30px;
  line-height: 1.6;
  width: 300px;
}

.hero--photo {
  padding-top: 5px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .hero {
    margin-top: 55px;
    position: relative;
  }

  .hero__app {
    align-items: flex-start;
    background: transparent;
    z-index: 5;
  }

  .hero__app-inner,
  .hero__header-inner {
    width: 300px;
  }

  .hero__app-list {
    margin-bottom: 30px;
  }

  .hero__download-button {
    margin: 0;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 100%;
  }

  .hero__image {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 1;
    width: 660px;
    height: 540px;
    background-size: cover;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: bottom left;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .hero__header-text {
    font-size: 40px;
    padding: 0 40px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
  }

  .hero__text {
    display: block;
    width: 300px;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 110px;
  }

  .hero--photo {
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .hero--photo .hero__header {
    font-weight: 300;
    font-size: 50px;
  }

  .hero__header-inner--photo {
    width: auto;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding: 0;
    margin: 0;
  }

  .hero__header {
    text-align: center;
    padding-top: 0;
    margin-bottom: 95px;
  }

  .hero__header-text {
    font-size: 50px;
    font-weight: 300;
    padding: 0;
  }

  .hero__header-inner {
    margin-bottom: 0;
  }

  .hero__image {
    position: absolute;
    left: 35%;
    width: 760px;
    height: 630px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: bottom right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .hero__app {
    background: transparent;
    padding-right: 0;
    padding-left: 0;
  }

  .hero__app-list {
    margin-bottom: 55px;
  }

  .hero__download-button {
    margin-top: 0;
    margin-bottom: 65px;
  }
}
