.lead {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .lead {
    font-size: 18px;
    line-height: 1.8;
  }

  .lead__text {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .lead__text {
    padding-left: 165px;
    padding-right: 165px;
  }
}
