.main-nav {
  width: 320px;
  min-width: 51px;

  &--closed .site-list__item {
    display: block;
  }

  &--opened .site-list__item {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  display: block;
  border: none;
  right: 10px;
  top: 25px;
  margin: 0;
  padding: 0;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--closed .main-nav__toggle-icon--burger {
  display: none;
}

.main-nav--opened .main-nav__toggle-icon--cross {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  fill: #ffffff;
  width: 50px;
  height: 25px;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle {
  fill: #ffffff;
  width: 25px;
  height: 25px;
  background-color: transparent;

  &:hover {
    fill: $color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: block;
    border: none;
    top: 45px;
    right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: block;
  }

  .main-nav--opened .site-list__item {
    display: block;
  }
}

@media (max-width: $desktop-width) {
  .main-nav {
    display: flex;
    width: 100%;
  }
}
