.main-nav {
  width: 320px;
  min-width: 51px;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  border: none;
  right: 10px;
  top: 25px;
}

.main-nav--opened .main-nav__toggle {
  width: 50px;
  height: 4px;
  // background-image: url("../../img/icon-menu-burger.svg");
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 4px;
    top: 20px;
    background-color: #ffffff;
  }

  &::after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 4px;
    top: 10px;
    left: 0;
    background-color: #ffffff;
  }

  &:hover {
    background: $color-pink;

    &::before,
    &::after {
      background: $color-pink;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;

  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: " ";
    height: 30px;
    width: 4px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    top: -5px;
    left: 0;
    content: " ";
    height: 30px;
    width: 4px;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background: $color-pink;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $desktop-width) {
  .main-nav {
    display: flex;
    width: 100%;

    &--closed .site-list__item {
      display: block;
    }

    &--opened .site-list__item {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: block;
    border: none;
    top: 45px;
    right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}
