.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page__footer {
  margin-top: 150px;
}

.page__lead {
  padding: 36px 0;
}

@media (min-width: $tablet-width) {
  .page__lead {
    padding-top: 75px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .page__lead {
    padding-top: 75px;
    padding-bottom: 65px;
  }
}
