.photo-editor {
  box-sizing: border-box;
  background-color: $color-gray;
  padding-top: 20px;
}

.photo-editor__inner {
  display: flex;
  flex-direction: column;
  background: $color-gray;
}

.photo-editor__pic {
  padding-right: 0;
  margin-bottom: 40px;
}

.photo-editor__controls {
  display: flex;
  flex-direction: column;
}

.photo-editor__toolbar {
  // padding: 0 20px;
  position: relative;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.photo-editor__range-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.photo-editor__range-label {
  left: 20px;
  position: absolute;
  width: 240px;
  background: transparent;
  margin-top: 20px;
}

.photo-editor__range {
  appearance: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 10;
  height: 30px;
  outline: none;
  border-radius: 5px;

  &--fill {
    display: none;
  }

  &--contrast {
    display: none;
  }
}

.photo-editor__icon {
  margin-bottom: 80px;
  width: 45px;
  height: 45px;
  fill: $color-blue-dark;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.photo-editor__icon--active {
  opacity: 1;
  fill: $color-pink;
}

.photo-editor__buttonbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.photo-editor__button {
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  border: 3px solid $color-white;
  border-radius: 50px;
  padding: 15px 35px;
  line-height: 1;
  color: $color-white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  // margin-top: 25px;

  &--publish {
    color: $color-pink;
    border: 3px solid $color-pink;

    &:hover,
    &:focus {
      background: $color-pink;
      color: #ffffff;
    }

    &:active {
      color: rgba(#ffffff, 0.3);
    }
  }

  &--cancel {
    color: rgba($color-blue-dark, 0.1);
    border: 3px solid rgba($color-blue-dark, 0.1);

    &:hover,
    &:focus {
      border-color: rgba($color-blue-dark, 0.3);
      color: rgba($color-blue-dark, 0.3);
    }

    &:active {
      border-color: rgba($color-blue-dark, 0);
      background: rgba($color-blue-dark, 0.3);
      color: $color-gray;
    }
  }
}

@media (min-width: $tablet-width) {
  .photo-editor__pic {
    width: 300px;
  }

  .photo-editor {
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .photo-editor__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .photo-editor__form {
    width: 270px;
    padding-left: 35px;
  }

  .photo-editor__toolbar {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .photo-editor__range-item {
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 17px;
    border-bottom: 1px solid $color-gray-dark;
  }

  .photo-editor__range-label {
    position: inherit;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 0;
  }

  .photo-editor__range-item:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .photo-editor__range {
    display: inline;
    position: inherit;
  }

  .photo-editor__icon {
    opacity: 1;
    margin-bottom: 0;
    padding-right: 0;
    width: 25px;
    height: 25px;
  }

  .photo-editor__icon svg {
    fill: $color-pink;
    padding: 0;
    width: 25px;
    height: 25px;
  }

  .photo-editor__controls {
    position: relative;
    width: 50%;
  }

  .photo-editor__button {
    &--publish {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-editor__toolbar {
    padding-top: 0;
  }

  .photo-editor__button {
    width: 45%;
    margin-bottom: 0;
  }

  .photo-editor__range-item {
    padding-bottom: 23px;
  }

  .photo-editor__range-label {
    padding: 0 40px;
  }

  .photo-editor__inner {
    padding: 0 80px;
  }

  .photo-editor__form {
    width: 420px;
    padding-left: 0;
  }

  .photo-editor__buttonbar {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  }

  .photo-editor__icon {
    width: 48px;
    height: 48px;
  }

  .photo-editor__icon svg {
    width: 48px;
    height: 48px;
  }
}

.photo-editor__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-radius: 25px;
  border: 1px solid #000000;
}

.photo-editor__range::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid $color-pink;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;

  &:active {
    background: $color-pink;
  }
}

.photo-editor__range:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.photo-editor__range::-ms-track {
  width: 100%;
  height: 1px;
  // margin-bottom: 2-px;
  // padding-bottom: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.photo-editor__range::-moz-range-track {
  background-color: #000000;
}

.photo-editor__range::-moz-range-thumb {
  border: 2px solid $color-pink;
  background: #ffffff;
  border-radius: 10px;

  &:active {
    background: $color-pink;
  }
}

.photo-editor__range::-ms-fill-lower {
  background: transparent;
  border: 1px solid #000000;
  border-radius: 25px;
}

.photo-editor__range::-ms-fill-upper {
  background: transparent;
  border: 1px solid #000000;
  border-radius: 25px;
}

.photo-editor__range::-ms-thumb {
  border: 3px solid $color-pink;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;

  &:active {
    background: $color-pink;
  }
}

input:focus::-ms-fill-lower {
  background: transparent;
}

input:focus::-ms-fill-upper {
  background: transparent;
}
