.slider {
  position: relative;
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.slider__dot {
  display: block;
  width: 5px;
  height: 5px;
  background: $color-gray-dark;
  border-radius: 50%;
  margin: 10px;
}

.slider__dot--active {
  border: 3px solid $color-blue-dark;
  background: $color-white;
}

.slider__button {
  display: none;
  width: 30px;
  height: 45px;
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;

  &--next {
    right: 0;
    background-image: url("../../img/icon-review-arrow-right.svg");
  }

  &--prev {
    left: 0;
    background-image: url("../../img/icon-review-arrow-left.svg");
  }
}
