.social {
  width: 180px;
  padding-top: 10px;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;

  border: 3px solid rgba($color-blue-dark, 0.1);
  border-radius: 50%;

  width: 45px;
  height: 45px;

  &:hover,
  &:focus {
    border: 3px solid rgba($color-blue-dark, 1);
  }

  &:active {
    opacity: 0.3;
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--fb {
    background-image: url("../img/icon-facebook.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--yt {
    background-image: url("../img/icon-youtube.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
