.page {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__lead {
    width: 280px;
  }

  &__footer {
    margin-top: 150px;
  }
}
