$color-blue-dark: #283645;
$color-blue-lite: #485461;
$color-pink: #d22856;
$color-gray: #f2f2f2;
$color-gray-dark: #e5e5e5;
$color-white: #ffffff;
$color-green: #2aab6d;

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width: 320px;
$mobile-width-only: 659px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
