.welcome-wrapper {
  width: 100%;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #212d3b;
}
